alias gi="git init"
alias ga="git add"
alias gc="git commit"
alias gp="git push"
alias update="brew update && brew upgrade && gem update"
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
